$primary-color: #FF4E00;
$secondary-color: #9B0E8E;
$secondary-light-color: #FFD4FB;
$secondary-ultralight-color: #FFEEFD;
$light-color: #fff;
$light-grey: #eee;
$secondary-color2:#4B1346;
$text-dark-color:#000;
$card-grad-color-1: #F3DDFC;
$card-grad-color-2: #E0EAFF;
$card-grad2-color-1:#FCF9C9;
$card-grad2-color-2:#FFDAC8;



html, body{
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

.overflow-hidden{
    overflow: hidden !important;
}

*{
    transition: 0.2s;
}

a{
    text-decoration: none;
    color: #000;
    font-weight: 500;
    &:hover{
        color: #000;
        font-weight: 600;
    }
}
p{
    margin-bottom: 0;
}
i{
    cursor: pointer;
}

header{
    position: sticky;
    top: 0;
    // height: 70px;
    padding: 0px 50px;
    background-color: $light-color;
    box-shadow: 0 4px 8px #00000010;
    display: grid;
    grid-template-columns: 165px auto 200px;
    z-index: 10;
    .brand{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        .btnmenu{
            margin: auto 16px;
            padding: 0 16px;
            cursor: pointer;
            .bar{
                display: block;
                width: 23px;
                height: 3px;
                background-color: transparent;
                transition: all .2s linear;
                cursor: pointer;
                border-radius: 100px;
                margin-top: 5px;
                background-color: $secondary-color;
            }
        }
        a{
            img{
                width: 75px;
            }
        }
    }
    .menu{
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        li{
            list-style:none;
            padding: 5px 24px;
            a{
                display: flex;
                flex-direction: column;
                align-items: center;
                text-decoration: none;
                img{
                    width: 25px;
                }
                span{
                    font-size: 12.4px;
                    font-weight: 500;
                }
                .active{
                    color:$secondary-color;
                    font-weight: bold;
                }
                &:hover{
                    color:$secondary-color;
                }
            }
        }
    }
    .right-box{
        display: grid;
        grid-template-columns: 50px 70px 50px 50px;
        align-items: center;
        .search-btn{
            position: relative;
            margin: auto;
            .fa-search{
                color: #707070;
                font-size: 25px;
            }
            input{
                display: none;
                border: none;
                border-radius: 5px;
                font-size: 16px;
                color: #00000070;
                width: 300px;
                padding: 8px 9px 8px 40px;
                background-color: #F5F5F5;
                &:focus{
                    outline: none;
                }
                &::-webkit-input-placeholder {
                    font-size: 16px;
                    color: #00000070;
                }
            }
        }
        .action-btn{
            text-align: center;
            margin: auto;
            cursor: pointer;
            img{
                width: 60px;
            }
        }
        .notification-bell{
            font-size: 23px;
            color: #fa3636;
            text-align: center;
        }
        .notification-bell:hover{
            cursor: pointer;
            color: #981e1e;
        }
       
        .profile-pic{
            width: 35px;
            height: 35px;
            overflow: hidden;
            border-radius: 36px;
            margin: auto;
            cursor: pointer;
            img{
                width: 35px;
                height: 35px;
                object-fit: cover;
                object-position: center;
            }
        }
    }
    .search-area{
        position: absolute;
        top: -65%;
        right: 38%;
        .search-box{
            position: relative;
            margin: auto;
            .fa-search{
                position: absolute;
                right: 14.5px;
                top: 16px;
                color: #707070;
                font-size: 14px;
            }
            input{
                border: none;
                border-radius: 5px;
                font-size: 16px;
                color: #00000070;
                width: 420px;
                padding: 12px 40px 12px 9px;
                background-color: #F5F5F5;
                &:focus{
                    outline: none;
                }
                &::-webkit-input-placeholder {
                    font-size: 16px;
                    color: #00000070;
                }
            }
        }
        @media(max-width:820px){
            right: 30%;
            .search-box{
                input{
                    width: 340px;
                }
            }
        }
        @media(max-width:576px){
            right: 1%;
            .search-box{
                input{
                    width: 400px;
                }
            }
        }
        @media(max-width:390px){
            right: 0%;
            .search-box{
                input{
                    width: 370px;
                }
            }
        }
    }
    @media (max-width:830px){
        padding: 0 8px;
        grid-template-columns: auto 220px;
        .brand{
            justify-content: start;
            padding-left: 0 ;
        }
        .menu{
            position: fixed;
            bottom: 0;
            right: 0;
            left: 0;
            padding: 8px;
            background-color: #F5F5F5;
            box-shadow: 0 4px 8px #00000010;
        }
    }
    @media (max-width:400px){
        .menu li{
            padding: 5px 15px;
        }
    }
    @media (max-width:375px){
        .brand{
            .btnmenu{
                padding:0px ;
                margin: auto 10px;
            }
        }
    }
}
.header{
   display: flex;
   justify-content: space-between;
   .right-box{
        display: grid;
        grid-template-columns: 130px 55px auto ;
        .app-btn{
            border: 2px solid $light-grey;
            text-align: center;
            padding: 5px;
            font-weight: 600;
            margin-right: 20px;
        }
        .profile-pic{
            display: flex;
            align-items: center;
        }
        p{
            color: $secondary-color;
        }
   }
   @media (max-width:820px){
        justify-content: space-around;
    }
   @media (max-width:576px){
       p{
            display: none;
       }
   }
}
.sidebar{
    position: fixed;
    top: 65px;
    left: -300px;
    bottom: 0px;
    width: 300px;
    transition: .5s;
    z-index: 2;
    background-color: $light-color;
    box-shadow: 0 4px 8px #00000010;
    ul{
        padding-left: 0;
        li{
            list-style: none;
            padding: 14px 35px;
            border-bottom: 1px solid $light-grey;
            font-weight: 500;
            cursor: pointer;
            i{
                float: right;
            }
            &:hover{
                background-color: $secondary-light-color;
                a{
                    color: #000;
                    font-weight: 600;
                }
            }
        }
    }
}
.openside{
    left: 0px;
    transition: .5s;
    @media(max-width:1080px){
        left: 0px;
    }
    @media(max-width:992px){
        left: 0px;
        z-index: 2;
    }
}
.action-box{
    display: none;
    position: fixed;
    width: 315px;
    height: 325px;
    top: 80px;
    right: 145px;
    background-color: #ffffff;
    box-shadow: 2px 2px 10px 1px #00000047; 
    border-radius: 5px;
    z-index: 10;      
    .action-item{
        position: relative;
        display: grid;
        padding: 16px;
        grid-template-columns: 170px 110px;
        cursor: pointer;
        align-items: center;
        text-align: right;
        &:hover{
            background-color: $secondary-ultralight-color;
        }
        .action-name{
            margin-left: 16px;
            h6{
                font-size: 16px;
                font-weight: bold;
                color: $secondary-color2;
            }
        }
        .action-img img{
            width: 50px;
            box-shadow: 2px 2px 10px 1px #00000047;
            border-radius: 50px; 
 
         }
        .line{
            position: absolute;
            left: 16px;
            bottom: 0;
            right: 16px;
            height: 2px;
            background-color: #F5F5F5;
        }
    }
    @media(max-width:1200px){
        width: 350px;
    }
    @media (max-width:756px){
        width: 380px;
        right: 78px;
        .notification-item{
            grid-template-columns: 45px auto auto;
            .notifi-text{
                h6{
                    font-size: 12px;
                }
                p{
                    font-size: 10px;
                }
            }
            .notifi-time{
                p{
                    font-size: 9px;
                }
            }
        }
    }
    @media(max-width:576px){
        width: 310px;
        right: 16px;
        top: 59px;
    }
}
.profile-box{
    display: none;
    position: fixed;
    width: 230px;
    height: auto;
    top: 75px;
    right: 16px;
    background-color: #ffffff;
    box-shadow: 2px 2px 10px 1px #00000047; 
    border-radius: 5px;
    z-index: 10;      
    .option{
        position: relative;
        display: grid;
        padding: 8px 5px;
        grid-template-columns: 50px auto;
        align-items: center;
        text-align: left;
        &:hover{
            background-color: $secondary-ultralight-color;
        }
        .action-name{
            p{
                font-size: 14px;
                font-weight: 600;
                color: $secondary-color;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                overflow: hidden;
                -webkit-line-clamp: 1;
                span{
                    color: #000000cc;
                }
                .amount{
                    color: $primary-color;
                }
            }
        }
        .opt-icon {
            text-align: center;
            img{
                width: 20px;
            }
            i{
                font-size: 16px; 
                color: $secondary-color2;
            }
        }
        .line{
            position: absolute;
            left: 16px;
            bottom: 0;
            right: 16px;
            height: 2px;
            background-color: #F5F5F5;
        }
    }
    @media(max-width:1200px){
        width: 175px;
    }
    @media (max-width:756px){
        width: 220px;
        right: 78px;
        .notification-item{
            grid-template-columns: 45px auto auto;
            .notifi-text{
                h6{
                    font-size: 12px;
                }
                p{
                    font-size: 10px;
                }
            }
            .notifi-time{
                p{
                    font-size: 9px;
                }
            }
        }
    }
    @media(max-width:576px){
        width: 220px;
        right: 16px;
        top: 70px;
    }
}
.notification-box{
    display: none;
    position: fixed;
    width: 435px;
    height: 500px;
    overflow-y: scroll;
    top: 80px;
    right: 90px;
    background-color: #ffffff;
    box-shadow: 2px 2px 10px 1px #00000047; 
    border-radius: 5px;
    z-index: 10;
    &::-webkit-scrollbar{
        width: 3.5px;
    }
    &::-webkit-scrollbar-thumb {
      background: #a09e9e; 
      border-radius: 5px;
    }

    .head{
        padding: 16px;
        .title{
            font-size: 18px;
            font-weight: bold;
        }
        .action{
            padding: 8px 12px;
            cursor: pointer;
        }
    }        
    .notification-item{
        position: relative;
        display: grid;
        padding: 16px;
        grid-template-columns: 50px auto 70px;
        cursor: pointer;
        &:hover{
            background-color: $secondary-ultralight-color;
        }
        .notifi-img img{
            width: 50px;
            height: 50px;
            border-radius: 50px;
            object-fit: contain;
            object-position: center;
            box-shadow: 2px 2px 15px 1px #00000014;

        }
        .notifi-text{
            margin-left: 16px;
            h6{
                font-size: 16px;
                font-weight: bold;
            }
            p{
                font-size: 14px;
                margin-bottom: 0;
                opacity: 0.8;
            }
        }
        .notifi-time{
            font-size: 12px;
            p{
                text-align: right;
            }
        }
        .line{
            position: absolute;
            left: 16px;
            bottom: 0;
            right: 16px;
            height: 1px;
            background-color: #F5F5F5;
        }

    }
    @media(max-width:1200px){
        width: 435px;
    }
    @media (max-width:756px){
        width: 380px;
        right: 78px;
        .notification-item{
            grid-template-columns: 45px auto auto;
            .notifi-text{
                h6{
                    font-size: 12px;
                }
                p{
                    font-size: 10px;
                }
            }
            .notifi-time{
                p{
                    font-size: 9px;
                }
            }
        }
    }
    @media(max-width:576px){
        width: 310px;
        right: 16px;
        top: 59px;
    }
}
footer {
    // background-color: rgba($text-dark-color, .05);
    padding: 40px 0;
    z-index: 1;
    background-color: #f9f9f9;
    position: relative;
    .col-sm-12 {
        margin-bottom: 1rem;
    }
    .col-brand {
        img {
            display: block;
            position: relative;
            height: 48px;
            margin-bottom: 1rem;
        }
        @media (max-width:768px) {
            text-align: center;
            img {
                margin: 0 auto 1rem;
            }
        }
    }
    .copyright {
        font-size: 14px;
        display: block;
    }
    .social-media {
        display: block;
        position: relative;
        margin: 1rem 0 0;
        a {
            display: inline-block;
            position: relative;
            color: rgba($text-dark-color, .4);
            margin-right: .5rem;
            text-decoration: none;
            font-size: 1.2rem;
        }
    }
    .footer-col-title {
        font-size: 18px;
        font-weight: bold;
        color: rgba($text-dark-color, .8);
        margin-bottom: 2rem;
    }
    p {
        color: rgba($text-dark-color, .6);
    }
    .links {
        display: block;
        position: relative;
        .link {
            display: block;
            margin: 0 0 .3rem;
            padding: 5px 0;
            font-size: 1rem;
            color: rgba($text-dark-color, .6);
            text-decoration: none;
            transition: all .3s ease-in-out;
            &:hover {
                color: rgba($text-dark-color, 1);
                transform: translateX(.5rem);
            }
        }
        @media (max-width:768px) {
            .link {
                display: inline-block;
                margin: 0 1rem 0 0;
            }
        }
    }
    .subscribe-box {
        border-radius: 100px;
        background-color: $light-color;
        display: grid;
        grid-template-columns: auto 120px;
        overflow: hidden;
        input {
            border: none;
            padding: 8px 16px;
            outline: none;
            width: 100%;
        }
        input[type='submit'] {
            background-color: $primary-color;
            color: $light-color;
        }
    }
}
.add-links {
    position: relative;
    display: block;
    padding: 1rem 0;
    text-align: center;
    z-index: 1;
    background-color: $light-color;
    .link {
        display: inline-block;
        color: rgba($text-dark-color, .5);
        font-size: 14px;
        margin: 0 1rem;
    }
    @media (max-width:820px){
        margin-bottom: 4rem;
    }
}