// $primary-color: #3F107E;
$primary-color: #FF4E00;
$secondary-color: #9B0E8E;
$secondary-light-color: #FFD4FB;
$secondary-ultralight-color: #FFEEFD;
$light-color: #fff;
$light-grey: #eee;
$secondary-color2:#4B1346;
$text-dark-color:#000;



html, body{
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

.overflow-hidden{
    overflow: hidden !important;
}

*{
    transition: 0.2s;
}

a{
    text-decoration: none;
    color: #000;
    font-weight: 500;
    &:hover{
        color: #000;
        font-weight: 600;
    }
}
p{
    margin-bottom: 0;
}
i{
    cursor: pointer;
}

.top-margin-16{
    margin-top: 16px !important;
}
.checked{
    color: #FFDD17; 
 }
.solid-action-btn{
    color: $primary-color;
    padding: 8px 24px;
    font-size: 12px;
    font-weight: 700;
    border-radius: 40px;
    border: 1px solid $primary-color;
    text-align: center;
    background: $light-color;
    cursor: pointer;
}

.outline-action-btn{
    color: $primary-color;
    padding: 4px 8px;
    background-color: transparent;
    font-size: 12px;
    font-weight: 700;
    border-radius: 40px;
    border: 1px solid $primary-color;
}
.section-title{
    color: rgba(0, 0, 0, 0.8);
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: capitalize;
    text-transform: uppercase;
}
.viewall{
    color: rgba(0, 0, 0, 0.8);
    font-size: 1rem;
    cursor: pointer;
    text-transform: uppercase;
}
.card{
    box-shadow: 2px 2px 16px rgb(0 0 0/11%);
    border-radius: .5rem;
    &:hover{
        box-shadow: 0 4px 8px rgb(0 0 0 / 40%); 
        transform: translateY(-2px);
    }
}

header{
    position: sticky;
    top: 0;
    // height: 70px;
    padding: 0px 50px;
    background-color: $light-color;
    box-shadow: 0 4px 8px #00000010;
    display: grid;
    grid-template-columns: 165px auto 150px;
    z-index: 10;
    .brand{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        .btnmenu{
            margin: auto 16px;
            padding: 0 16px;
            cursor: pointer;
            .bar{
                display: block;
                width: 23px;
                height: 3px;
                background-color: transparent;
                transition: all .2s linear;
                cursor: pointer;
                border-radius: 100px;
                margin-top: 5px;
                background-color: $secondary-color;
            }
        }
        a{
            img{
                width: 75px;
            }
        }
    }
    .menu{
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        li{
            list-style:none;
            padding: 5px 25px;
            a{
                display: flex;
                flex-direction: column;
                align-items: center;
                text-decoration: none;
                img{
                    width: 25px;
                }
                span{
                    font-size: 12.5px;
                    font-weight: 500;
                }
                .active{
                    color:$secondary-color;
                    font-weight: bold;
                }
                &:hover{
                    color:$secondary-color;
                }
            }
        }
    }
    .right-box{
        display: grid;
        grid-template-columns: 70px 50px 50px;
        align-items: center;
        .action-btn{
            text-align: center;
            margin: auto;
            cursor: pointer;
            img{
                width: 80px;
            }
        }
        .notification-bell{
            font-size: 23px;
            color: #fa3636;
            text-align: center;
        }
        .notification-bell:hover{
            cursor: pointer;
            color: #981e1e;
        }
       
        .profile-pic{
            width: 35px;
            height: 35px;
            overflow: hidden;
            border-radius: 36px;
            margin: auto;
            cursor: pointer;
            img{
                width: 35px;
                height: 35px;
            }
        }
    }
    @media (max-width:830px){
        padding: 0 8px;
        grid-template-columns: auto 170px;
        .brand{
            justify-content: start;
            padding-left: 0 ;
        }
        .menu{
            position: fixed;
            bottom: 0;
            right: 0;
            left: 0;
            padding: 8px;
            background-color: #F5F5F5;
            box-shadow: 0 4px 8px #00000010;
        }
    }
    @media (max-width:400px){
        .menu li{
            padding: 5px 15px;
        }
    }
    @media (max-width:360px){
        .brand{
            .btnmenu{
                padding:0px ;
            }
        }
    }
}

.sidebar{
    position: fixed;
    top: 80px;
    left: -300px;
    bottom: 0px;
    width: 300px;
    transition: .5s;
    z-index: 2;
    background-color: $light-color;
    box-shadow: 0 4px 8px #00000010;
    ul{
        padding-left: 0;
        li{
            list-style: none;
            padding: 14px 35px;
            border-bottom: 1px solid $light-grey;
            font-weight: 500;
            cursor: pointer;
            i{
                float: right;
            }
            &:hover{
                background-color: $secondary-light-color;
                a{
                    color: #000;
                }
            }
        }
    }
}
.openside{
    left: 0px;
    transition: .5s;
    @media(max-width:1080px){
        left: 0px;
    }
    @media(max-width:992px){
        left: 0px;
        z-index: 2;
    }
}
.action-box{
    display: none;
    position: fixed;
    width: 315px;
    height: 325px;
    top: 80px;
    right: 145px;
    background-color: #ffffff;
    box-shadow: 2px 2px 10px 1px #00000047; 
    border-radius: 5px;
    z-index: 10;      
    .action-item{
        position: relative;
        display: grid;
        padding: 16px;
        grid-template-columns: 170px 110px;
        cursor: pointer;
        align-items: center;
        text-align: right;
        &:hover{
            background-color: $secondary-ultralight-color;
        }
        .action-name{
            margin-left: 16px;
            h6{
                font-size: 16px;
                font-weight: bold;
                color: $secondary-color2;
            }
        }
        .action-img img{
            width: 50px;
            box-shadow: 2px 2px 10px 1px #00000047;
            border-radius: 50px; 
 
         }
        .line{
            position: absolute;
            left: 16px;
            bottom: 0;
            right: 16px;
            height: 2px;
            background-color: #F5F5F5;
        }
    }
    @media(max-width:1200px){
        width: 350px;
    }
    @media (max-width:756px){
        width: 380px;
        right: 78px;
        .notification-item{
            grid-template-columns: 45px auto auto;
            .notifi-text{
                h6{
                    font-size: 12px;
                }
                p{
                    font-size: 10px;
                }
            }
            .notifi-time{
                p{
                    font-size: 9px;
                }
            }
        }
    }
    @media(max-width:576px){
        width: 310px;
        right: 16px;
        top: 59px;
    }
}
.notification-box{
    display: none;
    position: fixed;
    width: 435px;
    height: 500px;
    overflow-y: scroll;
    top: 80px;
    right: 90px;
    background-color: #ffffff;
    box-shadow: 2px 2px 10px 1px #00000047; 
    border-radius: 5px;
    z-index: 10;
    &::-webkit-scrollbar{
        width: 3.5px;
    }
    &::-webkit-scrollbar-thumb {
      background: #a09e9e; 
      border-radius: 5px;
    }

    .head{
        padding: 16px;
        .title{
            font-size: 18px;
            font-weight: bold;
        }
        .action{
            padding: 8px 12px;
            cursor: pointer;
        }
    }        
    .notification-item{
        position: relative;
        display: grid;
        padding: 16px;
        grid-template-columns: 50px auto 70px;
        cursor: pointer;
        &:hover{
            background-color: $secondary-ultralight-color;
        }
        .notifi-img img{
            width: 50px;
            height: 50px;
            border-radius: 50px;
            object-fit: contain;
            object-position: center;
            box-shadow: 2px 2px 15px 1px #00000014;

        }
        .notifi-text{
            margin-left: 16px;
            h6{
                font-size: 16px;
                font-weight: bold;
            }
            p{
                font-size: 14px;
                margin-bottom: 0;
                opacity: 0.8;
            }
        }
        .notifi-time{
            font-size: 12px;
            p{
                text-align: right;
            }
        }
        .line{
            position: absolute;
            left: 16px;
            bottom: 0;
            right: 16px;
            height: 1px;
            background-color: #F5F5F5;
        }

    }
    @media(max-width:1200px){
        width: 435px;
    }
    @media (max-width:756px){
        width: 380px;
        right: 78px;
        .notification-item{
            grid-template-columns: 45px auto auto;
            .notifi-text{
                h6{
                    font-size: 12px;
                }
                p{
                    font-size: 10px;
                }
            }
            .notifi-time{
                p{
                    font-size: 9px;
                }
            }
        }
    }
    @media(max-width:576px){
        width: 310px;
        right: 16px;
        top: 59px;
    }
}

main{
    padding: 25px;
    background-color: #fff;
    .courses,
    .on-demand{
        .section-title{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .owl-theme{
            .owl-item{
                margin-bottom: 16px;
            }
            .owl-nav{
                .owl-prev{
                    left: -30px;
                    padding: 20px;
                }
                .owl-next{
                    right: -30px;
                }
                .owl-prev,.owl-next{
                    position: absolute;
                    top: 40%;
                    border-radius: 50%;
                    border: 1px solid #a09e9e;
                    width: 40px;
                    height: 40px;
                    span{
                        font-size: 30px;
                        font-weight: 500;
                        line-height: 1;
                    }
                }
            }
            .item{
                padding: 16px 8px;
            }
        }
        .card{
            max-height: 320px;
            .img-wrapper{
                cursor: pointer;
                width: 100%;
                height: 180px;
                img{
                    width: 100%;
                    object-fit: unset;
                    height: 180px;
                    object-position: center top;
                } 
                .saved{
                    position: absolute;
                    top: 16px;
                    right: 16px;
                    cursor: pointer;
                }   
            }
            .title{
                display: grid;
                grid-template-columns: auto 20px;
                align-items: center;
                i{
                    margin-bottom: 10px;
                    font-size: 12px;
                }
                .card-text{
                    font-size: 14px;
                    font-weight: 500;
                    margin-bottom: 8px;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    -webkit-line-clamp: 1;
                }
                .option{
                    position: relative;
                    .option-box {
                        display: none;
                        position: absolute;
                        background-color: #fff;
                        width: 120px;
                        height: auto;
                        right: 13px;
                        top: 25px;
                        box-shadow: 2px 2px 10px 1px #00000047;
                        border-radius: 5px;
                        text-align: center;
            
                        p {
                          padding: 8px 5px;
                          margin: 0px;
                          cursor: pointer;
                          font-size: 14px;            
                          &:hover {
                            background-color: #ffd4fb;
                            overflow: hidden;
                          }
                        }
                      }
                }
                
            }
            .duration{
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 12px;
                .category{
                    border: thin solid #e1e1e1;
                    padding: 2px 4px;
                    border-radius: 5px;
                    cursor: pointer;
                }
            }
        }
        .categories{
            overflow-x: scroll;
            margin: 1rem 0;
            &::-webkit-scrollbar{
                height: 5px;
                cursor: pointer;
            }
            &::-webkit-scrollbar-thumb {
              background: #a09e9e; 
              border-radius: 5px;
              cursor: pointer;
            }
            .cat-item{
                display: flex;
                li{
                    position: relative;
                    list-style: none;
                    margin: 0;
                    input[type='radio']{
                        position: absolute;
                        opacity: 0;  
                        &:checked + label{
                            background: linear-gradient(120deg, #FF88F3 10%, #94BEFF 90%);
                            filter: brightness(125%);
                        }
                    } 
                    label{
                        display: flex;
                        justify-content: center;
                        cursor: pointer;
                        padding: 8px 3px;
                        box-shadow: 0 2px 10px 1px rgb(0 0 0 / 15%);
                        border-radius: 5px;
                        margin: 8px 8px;
                        width: 135px;
                        min-height: 75px;
                        align-items: center;
                        span{
                            word-wrap: break-word;
                            text-align: center;
                            font-weight: 600;
                            font-size: 14px;
                            padding: 0 16px;
                        }
                    }   
                }
            }
        }
        .teachers-intro{
            display: grid;
            grid-template-columns: 90px auto;
            padding: 16px;
            height: 200px !important;
            margin-bottom: 16px;
            img{
                width: 80px;
                height: 80px;
                object-fit: cover;
                object-position: top center;
                border-radius: 50%;
            }
            .card-body{
                padding: 0;
                position: relative;
                .card-title{
                    font-weight: 600;
                }
                .card-text{
                    margin-top: 8px;
                    font-size: 12px;
                    font-weight: 500;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    -webkit-line-clamp: 3;
                    a{
                        color: $primary-color;
                    }
                }
                .follow{
                    position: absolute;
                    bottom: 0;
                    .btn{
                        background-color: $primary-color;
                        color: #fff;
                        border-radius: 30px;
                        padding: 5px 16px;
                        text-decoration: none;
                        border: none;
                        text-transform: uppercase;
                        font-weight: 600;
                        margin: 16px auto;
                        transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
                        box-shadow: 0 1px 2px rgba($secondary-color, .5);
                        &:hover {
                            transform: translateY(-2px);
                            box-shadow: 0 4px 8px rgba($secondary-color, .5);
                        }
                        &:focus{
                            outline: none;
                        }
                    }
                }
            }
            
        }
        
    }
    .class-player{
        margin-bottom: 50px;
        .video-wrapper{    
            width: 100%;
            height: 450px;
            display: flex;
            margin: 16px auto 25px;
            border-radius: 8px;
            overflow: hidden;
            background-color: #000000;
            video{
                width: 100%;
                height: 450px;
            }
        }
        .class-title{
            font-size: 20px;
            font-weight: 600;
        }
        .class-cat{
            font-weight: 600;
        }
        .class-detail-box{
            display: flex;
            .rating{
                margin-left: 8px;
                cursor: pointer;
                .fa-star,.fa-star-half-alt{
                    background-color: transparent;
                    color: #FFDD17;
                }
            }
        }
        .social-stat{
            display: grid;
            grid-template-columns: 60px 60px 40px;
            justify-content: flex-end;
            .stat{
                display: flex;
                align-items: center;
                justify-content: flex-end;
                img{
                    width: 15px;
                    cursor: pointer;
                }
                span{
                    margin-left: 8px;
                }
            }
            .share{
                position: relative;
                .share-drop{
                    position: absolute;
                    display: none;
                    top: 35px;
                    right: -10px;
                    background-color: #fff;
                    box-shadow: 0 1px 4px 2px rgb(0 0 0 / 16%);
                    z-index: 10;
                    border-radius: 5px;
                    overflow: hidden;
                    .share-drop-link{
                        padding: 8px 16px;
                        display: block;
                        color: #707070;
                        font-size: 20px;
                        &:hover{
                            background-color: #ffd4fb;
                            overflow: hidden;
                            text-decoration: none;
                        }
                    }
                }
            }
            .option{
                position: relative;
                .option-box {
                    display: none;
                    position: absolute;
                    background-color: #fff;
                    width: 120px;
                    height: auto;
                    right: 0px;
                    top: 30px;
                    box-shadow: 2px 2px 10px 1px #00000047;
                    border-radius: 5px;
                    text-align: center;
                    z-index: 10;
                    p {
                      padding: 8px 5px;
                      margin: 0px;
                      cursor: pointer;
                      font-size: 14px;            
                      &:hover {
                        background-color: #ffd4fb;
                        overflow: hidden;
                      }
                    }
                }
            }
            @media (max-width:768px){
                grid-template-columns: 80px 80px 40px;
                justify-content: flex-end;
            }
            @media (max-width:576px){
                display: flex;
                justify-content: space-between;
                .share{
                    .share-drop{
                        top: 30px;
                        right: -100px;
                    }
                }
            }
        }
        @media (max-width:576px){
            .video-wrapper{
                height: 300px;
                video{
                    height: 300px;
                }
            }
            .class-detail-box{
                flex-wrap: wrap;
                .rating{
                    margin-left: 0;
                }
            }
        }

    }
    .about-course{
        margin-bottom: 50px;
        p{
           font-size: 14px; 
           font-weight: 500;
           text-align: justify;
            a{
                color: $primary-color;
            }
        }
        .about-instructor{
            box-shadow: 2px 2px 16px rgb(0 0 0/11%);
            border-radius: 8px;
            padding: 16px;
            .content{
                display: grid;
                grid-template-columns: 70px auto;
                align-items: center;
                .image{
                    width: 60px;
                    height: 60px;
                    img{
                        width: 60px;
                        height: 60px;
                        border-radius: 100px;
                        object-fit: cover;
                        object-position: center top;
                    }
                }
                
                .name{
                    font-weight: bold;
                }
            }
        }
    }
    .reviews{
        margin-bottom: 50px;
        .content{
            padding: 16px;
            .message{
                font-size: 14px;
                font-weight: 600;
                text-align: justify;
                margin-top: 8px;
            }
            .user-info{
                display: grid;
                grid-template-columns: 70px auto 20px;
                align-items: center;
                .image{
                    width: 60px;
                    height: 60px;
                    img{
                        width: 60px;
                        height: 60px;
                        border-radius: 100px;
                        object-fit: cover;
                        object-position: center top;
                    }
                }
                
                a{
                    font-weight: bold;
                }
            }
        }
    }
    .teachers-profiles{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
        box-shadow: 2px 2px 16px #00000032;
        padding: 16px 12px;
        border-radius: 12px;
        min-height: 300px;
        img{
            width: 180px;
            height: 180px;
            object-fit: cover;
            object-position: top center;
            margin: 0 auto 1rem;
            border-radius: 50%;
            box-shadow: 0 4px 16px rgb(75 19 70 / 24%);
            transition: all 0.3s ease-in-out;
        }
        .name{
            font-weight: 600;
            font-size: 20px;
            display: block;
        }
        .designation{
            font-size: 14px;
            display: block;
            margin-bottom: 1rem;
            text-align: center;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            -webkit-line-clamp: 1;
        }
        .btn{
            background-color: $primary-color;
            color: #fff;
            border-radius: 30px;
            padding: 5px 16px;
            text-decoration: none;
            border: none;
            text-transform: uppercase;
            font-weight: 600;
            margin: 16px auto;
            box-shadow: 0 1px 2px rgba($secondary-color, .5);
            &:hover {
                transform: translateY(-2px);
                box-shadow: 0 4px 8px rgba($secondary-color, .5);
            }
            &:focus{
                outline: none;
            }
        }
    }
}
