html, body {
  margin: 0;
  padding: 0;
  background-color: #FAFAFA;
  font-family: "Montserrat", sans-serif;
  position: relative;
}

.overflow-hidden {
  overflow: hidden !important;
}

* {
  transition: 0.2s;
}

a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
}
a:hover {
  color: #000;
  font-weight: 600;
}

p {
  margin-bottom: 0;
}

i {
  cursor: pointer;
}

.top-margin-16 {
  margin-top: 16px !important;
}

.fa-star, .fa-star-half-alt {
  color: #FFDD17;
}

.checked {
  color: #FFDD17;
}

.solid-action-btn {
  background-color: #FF4E00;
  padding: 8px 24px;
  font-size: 12px;
  font-weight: 700;
  border-radius: 40px;
  border: 1px solid #FF4E00;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

.outline-action-btn {
  color: #FF4E00;
  padding: 4px 8px;
  background-color: transparent;
  font-size: 12px;
  font-weight: 700;
  border-radius: 5px;
  border: 1px solid #FF4E00;
}

.section-title {
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: capitalize;
  text-transform: uppercase;
}

.viewall {
  color: rgba(0, 0, 0, 0.8);
  font-size: 1rem;
  cursor: pointer;
  text-transform: uppercase;
}

.card {
  box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.11);
  border-radius: 0.5rem;
}
.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  transform: translateY(-2px);
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 0px 50px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.062745098);
  display: grid;
  grid-template-columns: 165px auto 150px;
  z-index: 10;
}
header .brand {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
header .brand .btnmenu {
  margin: auto 16px;
  padding: 0 16px;
  cursor: pointer;
}
header .brand .btnmenu .bar {
  display: block;
  width: 23px;
  height: 3px;
  background-color: transparent;
  transition: all 0.2s linear;
  cursor: pointer;
  border-radius: 100px;
  margin-top: 5px;
  background-color: #9B0E8E;
}
header .brand a img {
  width: 75px;
}
header .menu {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .menu li {
  list-style: none;
  padding: 5px 25px;
}
header .menu li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}
header .menu li a img {
  width: 25px;
}
header .menu li a span {
  font-size: 12.5px;
  font-weight: 500;
}
header .menu li a .active {
  color: #9B0E8E;
  font-weight: bold;
}
header .menu li a:hover {
  color: #9B0E8E;
}
header .right-box {
  display: grid;
  grid-template-columns: 70px 50px 50px;
  align-items: center;
}
header .right-box .action-btn {
  text-align: center;
  margin: auto;
  cursor: pointer;
}
header .right-box .action-btn img {
  width: 80px;
}
header .right-box .notification-bell {
  font-size: 23px;
  color: #fa3636;
  text-align: center;
}
header .right-box .notification-bell:hover {
  cursor: pointer;
  color: #981e1e;
}
header .right-box .profile-pic {
  width: 35px;
  height: 35px;
  overflow: hidden;
  border-radius: 36px;
  margin: auto;
  cursor: pointer;
}
header .right-box .profile-pic img {
  width: 35px;
  height: 35px;
}
@media (max-width: 830px) {
  header {
    padding: 0 8px;
    grid-template-columns: auto 170px;
  }
  header .brand {
    justify-content: start;
    padding-left: 0;
  }
  header .menu {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 8px;
    background-color: #F5F5F5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.062745098);
  }
}
@media (max-width: 400px) {
  header .menu li {
    padding: 5px 15px;
  }
}
@media (max-width: 360px) {
  header .brand .btnmenu {
    padding: 0px;
  }
}

.sidebar {
  position: fixed;
  top: 80px;
  left: -300px;
  bottom: 0px;
  width: 300px;
  transition: 0.5s;
  z-index: 2;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.062745098);
}
.sidebar ul {
  padding-left: 0;
}
.sidebar ul li {
  list-style: none;
  padding: 14px 35px;
  border-bottom: 1px solid #eee;
  font-weight: 500;
  cursor: pointer;
}
.sidebar ul li i {
  float: right;
}
.sidebar ul li:hover {
  background-color: #FFD4FB;
}
.sidebar ul li:hover a {
  color: #000;
}

.openside {
  left: 0px;
  transition: 0.5s;
}
@media (max-width: 1080px) {
  .openside {
    left: 0px;
  }
}
@media (max-width: 992px) {
  .openside {
    left: 0px;
    z-index: 2;
  }
}

.action-box {
  display: none;
  position: fixed;
  width: 315px;
  height: 325px;
  top: 80px;
  right: 145px;
  background-color: #ffffff;
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.2784313725);
  border-radius: 5px;
  z-index: 10;
}
.action-box .action-item {
  position: relative;
  display: grid;
  padding: 16px;
  grid-template-columns: 170px 110px;
  cursor: pointer;
  align-items: center;
  text-align: right;
}
.action-box .action-item:hover {
  background-color: #FFEEFD;
}
.action-box .action-item .action-name {
  margin-left: 16px;
}
.action-box .action-item .action-name h6 {
  font-size: 16px;
  font-weight: bold;
  color: #4B1346;
}
.action-box .action-item .action-img img {
  width: 50px;
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.2784313725);
  border-radius: 50px;
}
.action-box .action-item .line {
  position: absolute;
  left: 16px;
  bottom: 0;
  right: 16px;
  height: 2px;
  background-color: #F5F5F5;
}
@media (max-width: 1200px) {
  .action-box {
    width: 350px;
  }
}
@media (max-width: 756px) {
  .action-box {
    width: 380px;
    right: 78px;
  }
  .action-box .notification-item {
    grid-template-columns: 45px auto auto;
  }
  .action-box .notification-item .notifi-text h6 {
    font-size: 12px;
  }
  .action-box .notification-item .notifi-text p {
    font-size: 10px;
  }
  .action-box .notification-item .notifi-time p {
    font-size: 9px;
  }
}
@media (max-width: 576px) {
  .action-box {
    width: 310px;
    right: 16px;
    top: 59px;
  }
}

.notification-box {
  display: none;
  position: fixed;
  width: 435px;
  height: 500px;
  overflow-y: scroll;
  top: 80px;
  right: 90px;
  background-color: #ffffff;
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.2784313725);
  border-radius: 5px;
  z-index: 10;
}
.notification-box::-webkit-scrollbar {
  width: 3.5px;
}
.notification-box::-webkit-scrollbar-thumb {
  background: #a09e9e;
  border-radius: 5px;
}
.notification-box .head {
  padding: 16px;
}
.notification-box .head .title {
  font-size: 18px;
  font-weight: bold;
}
.notification-box .head .action {
  padding: 8px 12px;
  cursor: pointer;
}
.notification-box .notification-item {
  position: relative;
  display: grid;
  padding: 16px;
  grid-template-columns: 50px auto 70px;
  cursor: pointer;
}
.notification-box .notification-item:hover {
  background-color: #FFEEFD;
}
.notification-box .notification-item .notifi-img img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  box-shadow: 2px 2px 15px 1px rgba(0, 0, 0, 0.0784313725);
}
.notification-box .notification-item .notifi-text {
  margin-left: 16px;
}
.notification-box .notification-item .notifi-text h6 {
  font-size: 16px;
  font-weight: bold;
}
.notification-box .notification-item .notifi-text p {
  font-size: 14px;
  margin-bottom: 0;
  opacity: 0.8;
}
.notification-box .notification-item .notifi-time {
  font-size: 12px;
}
.notification-box .notification-item .notifi-time p {
  text-align: right;
}
.notification-box .notification-item .line {
  position: absolute;
  left: 16px;
  bottom: 0;
  right: 16px;
  height: 1px;
  background-color: #F5F5F5;
}
@media (max-width: 1200px) {
  .notification-box {
    width: 435px;
  }
}
@media (max-width: 756px) {
  .notification-box {
    width: 380px;
    right: 78px;
  }
  .notification-box .notification-item {
    grid-template-columns: 45px auto auto;
  }
  .notification-box .notification-item .notifi-text h6 {
    font-size: 12px;
  }
  .notification-box .notification-item .notifi-text p {
    font-size: 10px;
  }
  .notification-box .notification-item .notifi-time p {
    font-size: 9px;
  }
}
@media (max-width: 576px) {
  .notification-box {
    width: 310px;
    right: 16px;
    top: 59px;
  }
}

main {
  padding: 25px;
  background-color: #fff;
}
main .courses .section-title,
main .on-demand .section-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .courses .owl-theme .owl-item,
main .on-demand .owl-theme .owl-item {
  margin-bottom: 16px;
}
main .courses .owl-theme .owl-nav .owl-prev,
main .on-demand .owl-theme .owl-nav .owl-prev {
  left: -30px;
  padding: 20px;
}
main .courses .owl-theme .owl-nav .owl-next,
main .on-demand .owl-theme .owl-nav .owl-next {
  right: -30px;
}
main .courses .owl-theme .owl-nav .owl-prev, main .courses .owl-theme .owl-nav .owl-next,
main .on-demand .owl-theme .owl-nav .owl-prev,
main .on-demand .owl-theme .owl-nav .owl-next {
  position: absolute;
  top: 40%;
  border-radius: 50%;
  border: 1px solid #a09e9e;
  width: 40px;
  height: 40px;
}
main .courses .owl-theme .owl-nav .owl-prev span, main .courses .owl-theme .owl-nav .owl-next span,
main .on-demand .owl-theme .owl-nav .owl-prev span,
main .on-demand .owl-theme .owl-nav .owl-next span {
  font-size: 30px;
  font-weight: 500;
  line-height: 1;
}
main .courses .owl-theme .item,
main .on-demand .owl-theme .item {
  padding: 16px 8px;
}
main .courses .card,
main .on-demand .card {
  max-height: 320px;
}
main .courses .card .img-wrapper,
main .on-demand .card .img-wrapper {
  cursor: pointer;
  width: 100%;
  height: 200px;
}
main .courses .card .img-wrapper img,
main .on-demand .card .img-wrapper img {
  width: 100%;
  -o-object-fit: unset;
     object-fit: unset;
  height: 200px;
  -o-object-position: center top;
     object-position: center top;
}
main .courses .card .img-wrapper .saved,
main .on-demand .card .img-wrapper .saved {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
}
main .courses .card .title,
main .on-demand .card .title {
  display: grid;
  grid-template-columns: auto 20px;
  align-items: center;
}
main .courses .card .title i,
main .on-demand .card .title i {
  margin-bottom: 10px;
  font-size: 12px;
}
main .courses .card .title .card-text,
main .on-demand .card .title .card-text {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 8px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 1;
}
main .courses .card .title .option,
main .on-demand .card .title .option {
  position: relative;
}
main .courses .card .title .option .option-box,
main .on-demand .card .title .option .option-box {
  display: none;
  position: absolute;
  background-color: #fff;
  width: 120px;
  height: auto;
  right: 13px;
  top: 25px;
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.2784313725);
  border-radius: 5px;
  text-align: center;
}
main .courses .card .title .option .option-box p,
main .on-demand .card .title .option .option-box p {
  padding: 8px 5px;
  margin: 0px;
  cursor: pointer;
  font-size: 14px;
}
main .courses .card .title .option .option-box p:hover,
main .on-demand .card .title .option .option-box p:hover {
  background-color: #ffd4fb;
  overflow: hidden;
}
main .courses .card .duration,
main .on-demand .card .duration {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}
main .courses .card .duration .category,
main .on-demand .card .duration .category {
  border: thin solid #e1e1e1;
  padding: 2px 4px;
  border-radius: 5px;
  cursor: pointer;
}
main .courses .categories,
main .on-demand .categories {
  overflow-x: scroll;
  margin: 1rem 0;
}
main .courses .categories::-webkit-scrollbar,
main .on-demand .categories::-webkit-scrollbar {
  height: 5px;
  cursor: pointer;
}
main .courses .categories::-webkit-scrollbar-thumb,
main .on-demand .categories::-webkit-scrollbar-thumb {
  background: #a09e9e;
  border-radius: 5px;
  cursor: pointer;
}
main .courses .categories .cat-item,
main .on-demand .categories .cat-item {
  display: flex;
}
main .courses .categories .cat-item li,
main .on-demand .categories .cat-item li {
  position: relative;
  list-style: none;
  margin: 0;
}
main .courses .categories .cat-item li input[type=radio],
main .on-demand .categories .cat-item li input[type=radio] {
  position: absolute;
  opacity: 0;
}
main .courses .categories .cat-item li input[type=radio]:checked + label,
main .on-demand .categories .cat-item li input[type=radio]:checked + label {
  background: linear-gradient(120deg, #FF88F3 10%, #94BEFF 90%);
  filter: brightness(125%);
}
main .courses .categories .cat-item li label,
main .on-demand .categories .cat-item li label {
  display: flex;
  justify-content: center;
  cursor: pointer;
  padding: 8px 3px;
  box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  margin: 8px 8px;
  width: 135px;
  min-height: 75px;
  align-items: center;
}
main .courses .categories .cat-item li label span,
main .on-demand .categories .cat-item li label span {
  word-wrap: break-word;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  padding: 0 16px;
}
main .courses .teachers-intro,
main .on-demand .teachers-intro {
  display: grid;
  grid-template-columns: 90px auto;
  padding: 16px;
  height: 200px !important;
  margin-bottom: 16px;
}
main .courses .teachers-intro img,
main .on-demand .teachers-intro img {
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
  border-radius: 50%;
}
main .courses .teachers-intro .card-body,
main .on-demand .teachers-intro .card-body {
  padding: 0;
  position: relative;
}
main .courses .teachers-intro .card-body .card-title,
main .on-demand .teachers-intro .card-body .card-title {
  font-weight: 600;
}
main .courses .teachers-intro .card-body .card-text,
main .on-demand .teachers-intro .card-body .card-text {
  margin-top: 8px;
  font-size: 12px;
  font-weight: 500;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 3;
}
main .courses .teachers-intro .card-body .card-text a,
main .on-demand .teachers-intro .card-body .card-text a {
  color: #FF4E00;
}
main .courses .teachers-intro .card-body .follow,
main .on-demand .teachers-intro .card-body .follow {
  position: absolute;
  bottom: 0;
}
main .courses .teachers-intro .card-body .follow .btn,
main .on-demand .teachers-intro .card-body .follow .btn {
  background-color: #FF4E00;
  color: #fff;
  border-radius: 30px;
  padding: 5px 16px;
  text-decoration: none;
  border: none;
  text-transform: uppercase;
  font-weight: 600;
  margin: 16px auto;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  box-shadow: 0 1px 2px rgba(155, 14, 142, 0.5);
}
main .courses .teachers-intro .card-body .follow .btn:hover,
main .on-demand .teachers-intro .card-body .follow .btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(155, 14, 142, 0.5);
}
main .courses .teachers-intro .card-body .follow .btn:focus,
main .on-demand .teachers-intro .card-body .follow .btn:focus {
  outline: none;
}
main .class-player {
  margin-bottom: 50px;
}
main .class-player .video-wrapper {
  width: 100%;
  height: 450px;
  display: flex;
  margin: 16px auto 25px;
  border-radius: 8px;
  overflow: hidden;
  background-color: #000000;
}
main .class-player .video-wrapper video {
  width: 100%;
  height: 450px;
}
main .class-player .class-title {
  font-size: 20px;
  font-weight: 600;
}
main .class-player .class-cat {
  font-weight: 600;
}
main .class-player .class-detail-box {
  display: flex;
}
main .class-player .class-detail-box .rating {
  margin-left: 8px;
  cursor: pointer;
}
main .class-player .social-stat {
  display: grid;
  grid-template-columns: 60px 60px 40px;
  justify-content: flex-end;
}
main .class-player .social-stat .stat {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
main .class-player .social-stat .stat img {
  width: 15px;
  cursor: pointer;
}
main .class-player .social-stat .stat span {
  margin-left: 8px;
}
main .class-player .social-stat .share {
  position: relative;
}
main .class-player .social-stat .share .share-drop {
  position: absolute;
  display: none;
  top: 35px;
  right: -10px;
  background-color: #fff;
  box-shadow: 0 1px 4px 2px rgba(0, 0, 0, 0.16);
  z-index: 10;
  border-radius: 5px;
  overflow: hidden;
}
main .class-player .social-stat .share .share-drop .share-drop-link {
  padding: 8px 16px;
  display: block;
  color: #707070;
  font-size: 20px;
}
main .class-player .social-stat .share .share-drop .share-drop-link:hover {
  background-color: #ffd4fb;
  overflow: hidden;
  text-decoration: none;
}
main .class-player .social-stat .option {
  position: relative;
}
main .class-player .social-stat .option .option-box {
  display: none;
  position: absolute;
  background-color: #fff;
  width: 120px;
  height: auto;
  right: 0px;
  top: 30px;
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.2784313725);
  border-radius: 5px;
  text-align: center;
  z-index: 10;
}
main .class-player .social-stat .option .option-box p {
  padding: 8px 5px;
  margin: 0px;
  cursor: pointer;
  font-size: 14px;
}
main .class-player .social-stat .option .option-box p:hover {
  background-color: #ffd4fb;
  overflow: hidden;
}
@media (max-width: 768px) {
  main .class-player .social-stat {
    grid-template-columns: 80px 80px 40px;
    justify-content: flex-end;
  }
}
@media (max-width: 576px) {
  main .class-player .social-stat {
    display: flex;
    justify-content: space-between;
  }
  main .class-player .social-stat .share .share-drop {
    top: 30px;
    right: -100px;
  }
}
@media (max-width: 576px) {
  main .class-player .video-wrapper {
    height: 300px;
  }
  main .class-player .video-wrapper video {
    height: 300px;
  }
  main .class-player .class-detail-box {
    flex-wrap: wrap;
  }
  main .class-player .class-detail-box .rating {
    margin-left: 0;
  }
}
main .about-course {
  margin-bottom: 50px;
}
main .about-course p {
  font-size: 14px;
  font-weight: 500;
  text-align: justify;
}
main .about-course p a {
  color: #FF4E00;
}
main .about-course .about-instructor {
  box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.11);
  border-radius: 8px;
  padding: 16px;
}
main .about-course .about-instructor .content {
  display: grid;
  grid-template-columns: 70px auto;
  align-items: center;
}
main .about-course .about-instructor .content .image {
  width: 60px;
  height: 60px;
}
main .about-course .about-instructor .content .image img {
  width: 60px;
  height: 60px;
  border-radius: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center top;
     object-position: center top;
}
main .about-course .about-instructor .content .name {
  font-weight: bold;
}
main .reviews {
  margin-bottom: 50px;
}
main .reviews .content {
  padding: 16px;
}
main .reviews .content .message {
  font-size: 14px;
  font-weight: 600;
  text-align: justify;
  margin-top: 8px;
}
main .reviews .content .user-info {
  display: grid;
  grid-template-columns: 70px auto 250px;
  align-items: center;
}
main .reviews .content .user-info .image {
  width: 60px;
  height: 60px;
}
main .reviews .content .user-info .image img {
  width: 60px;
  height: 60px;
  border-radius: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center top;
     object-position: center top;
}
main .reviews .content .user-info .rating {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
main .reviews .content .user-info .rating .time {
  font-size: 12px;
  margin-left: 16px;
}
main .reviews .content .user-info a {
  font-weight: bold;
}
@media (max-width: 576px) {
  main .reviews .content .message {
    margin-top: 16px;
  }
  main .reviews .content .user-info {
    grid-template-columns: 70px auto 130px;
  }
  main .reviews .content .rating {
    display: flex;
    flex-direction: column;
  }
  main .reviews .content .rating .fa-star, main .reviews .content .rating .fa-star-half-alt {
    font-size: 12px;
  }
}
main .teachers-profiles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.1960784314);
  padding: 16px 12px;
  border-radius: 12px;
  min-height: 300px;
}
main .teachers-profiles img {
  width: 180px;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
  margin: 0 auto 1rem;
  border-radius: 50%;
  box-shadow: 0 4px 16px rgba(75, 19, 70, 0.24);
  transition: all 0.3s ease-in-out;
}
main .teachers-profiles .name {
  font-weight: 600;
  font-size: 20px;
  display: block;
}
main .teachers-profiles .designation {
  font-size: 14px;
  display: block;
  margin-bottom: 1rem;
  text-align: center;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 1;
}
main .teachers-profiles .btn {
  background-color: #FF4E00;
  color: #fff;
  border-radius: 30px;
  padding: 5px 16px;
  text-decoration: none;
  border: none;
  text-transform: uppercase;
  font-weight: 600;
  margin: 16px auto;
  box-shadow: 0 1px 2px rgba(155, 14, 142, 0.5);
}
main .teachers-profiles .btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(155, 14, 142, 0.5);
}
main .teachers-profiles .btn:focus {
  outline: none;
}
main .nav-menu {
  border-bottom: 1px solid #eee;
}
main .nav-menu .nav-item {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
main .nav-menu .nav-item li {
  position: relative;
  list-style: none;
  margin: 0;
}
main .nav-menu .nav-item li input[type=radio] {
  position: absolute;
  opacity: 0;
}
main .nav-menu .nav-item li input[type=radio]:checked + label {
  background: #FF4E00;
  color: #fff;
  filter: brightness(125%);
}
main .nav-menu .nav-item li label {
  display: flex;
  justify-content: center;
  cursor: pointer;
  padding: 8px 3px;
  box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  margin: 8px 8px;
  align-items: center;
}
main .nav-menu .nav-item li label span {
  word-wrap: break-word;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  padding: 0 16px;
}
@media (max-width: 456px) {
  main .nav-menu {
    overflow-x: scroll;
    margin: 1rem auto;
  }
  main .nav-menu::-webkit-scrollbar {
    height: 5px;
    cursor: pointer;
  }
  main .nav-menu::-webkit-scrollbar-thumb {
    background: #a09e9e;
    border-radius: 5px;
    cursor: pointer;
  }
  main .nav-menu .nav-item {
    justify-content: start;
  }
}
main .saved-menu {
  display: flex;
}
main .saved-menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
main .saved-menu ul li {
  list-style: none;
  margin: 10px 16px;
}
main .saved-menu ul li a {
  padding: 8px;
}
main .saved-menu ul li .active {
  color: #FF4E00;
  border-bottom: thin solid #FF4E00;
}
@media (max-width: 768px) {
  main .saved-menu {
    overflow-x: scroll;
    margin: 1rem auto;
  }
  main .saved-menu::-webkit-scrollbar {
    height: 5px;
    cursor: pointer;
  }
  main .saved-menu::-webkit-scrollbar-thumb {
    background: #a09e9e;
    border-radius: 5px;
    cursor: pointer;
  }
  main .saved-menu .nav-item {
    justify-content: start;
  }
  main .saved-menu a {
    font-size: 12px;
    white-space: pre;
  }
}
main .Trainer-Profile .cover-image {
  width: 100%;
  max-height: 300px;
  overflow: hidden;
}
main .Trainer-Profile .cover-image img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
main .Trainer-Profile .negative-margin {
  margin-top: -50px;
}
main .Trainer-Profile .profile-image {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid #fff;
}
main .Trainer-Profile .profile-image img {
  width: 220px;
  height: 220px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
}
main .Trainer-Profile .Trainer-information .Trainer-name {
  font-size: 28px;
  font-weight: bold;
}
main .Trainer-Profile .Trainer-information .Profile-stat {
  margin: 20px 0;
  display: grid;
  grid-template-columns: 70px 70px 70px;
  -moz-column-gap: 35px;
       column-gap: 35px;
}
main .Trainer-Profile .Trainer-information .Profile-stat .stat-option {
  display: inherit;
  text-align: center;
}
main .Trainer-Profile .Trainer-information .Profile-stat .stat-option .value {
  font-size: 20px;
  font-weight: 600;
}
main .Trainer-Profile .Trainer-information .Profile-stat .stat-option .head {
  font-size: 14px;
  color: #606060;
}
main .Trainer-Profile .Trainer-information .des {
  font-size: 16px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  margin-bottom: 0;
}
main .Trainer-Profile .Trainer-information .btnReadmore {
  border: none;
  outline: none !important;
  background-color: transparent;
  font-size: 14px;
  text-transform: capitalize;
  color: #FF4E00;
  padding: 0;
  font-weight: 500;
  display: inline;
}
main .Trainer-Profile .cta {
  font-size: 12px;
  display: block;
  text-transform: uppercase;
  margin-right: 30px;
  float: right;
  color: #fff;
  font-weight: 600;
  background-color: #FF4E00;
  padding: 8px 40px;
  border-radius: 100px;
  text-decoration: none;
  border: none;
}
main .Trainer-Profile .nav {
  position: relative;
  padding: 20px;
  background-color: #fbfafb;
}
main .Trainer-Profile .nav .nav-scroll {
  overflow-x: scroll;
}
main .Trainer-Profile .nav .nav-scroll ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
main .Trainer-Profile .nav .nav-scroll ul li {
  list-style: none;
}
main .Trainer-Profile .nav .nav-scroll ul .link {
  position: relative;
  margin-right: 16px;
  padding: 10px 8px;
  color: #666;
  font-weight: 600;
  cursor: pointer;
}
main .Trainer-Profile .nav .nav-scroll ul .link .line {
  position: absolute;
  left: 16px;
  right: 16px;
  bottom: 0;
  height: 2px;
  transform: scale(0);
  background-color: #9b0e8e;
}
main .Trainer-Profile .nav .nav-scroll ul .active {
  color: #000;
}
main .Trainer-Profile .nav .nav-scroll ul .active .line {
  transform: scale(1);
}
@media (max-width: 992px) {
  main .Trainer-Profile .profile-image {
    margin: auto;
  }
  main .Trainer-Profile .Trainer-information .Profile-stat {
    grid-template-columns: auto auto auto;
    -moz-column-gap: 0;
         column-gap: 0;
  }
  main .Trainer-Profile .cta {
    margin: 16px auto 0;
  }
}
@media (max-width: 440px) {
  main .Trainer-Profile .nav {
    padding: 12px 8px;
  }
  main .Trainer-Profile .nav .link {
    margin-right: 5px;
  }
  main .Trainer-Profile .nav .hide {
    display: none;
  }
}
main .User-content {
  padding: 25px;
}
main .User-content .book-slot .btn {
  width: 100%;
  background-color: #ffffff;
  color: #FF4E00;
  border-radius: 10px;
  display: inline-block;
  padding: 12px 50px;
  margin-top: 16px;
  text-decoration: none;
  border: 2px solid #FF4E00;
  text-transform: uppercase;
  font-weight: 600;
  box-shadow: 0 1px 2px rgba(255, 78, 0, 0.5);
}
main .User-content .discussion .card, main .User-content .inspiration .card {
  max-height: unset;
}
main .User-content .discussion .card .post .post-content, main .User-content .inspiration .card .post .post-content {
  padding: 16px;
  border-bottom: 1px solid #BBBBBB;
}
main .User-content .discussion .card .post .post-content .option-box, main .User-content .inspiration .card .post .post-content .option-box {
  display: none;
  position: absolute;
  background-color: #fff;
  width: 238px;
  height: auto;
  right: 10px;
  top: 15px;
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.2784313725);
  border-radius: 5px;
}
main .User-content .discussion .card .post .post-content .option-box p, main .User-content .inspiration .card .post .post-content .option-box p {
  padding: 8px 15px;
  margin: 0px;
  cursor: pointer;
}
main .User-content .discussion .card .post .post-content .option-box p:hover, main .User-content .inspiration .card .post .post-content .option-box p:hover {
  background-color: #ffd4fb;
  overflow: hidden;
}
main .User-content .discussion .card .post .post-content .user-info, main .User-content .inspiration .card .post .post-content .user-info {
  display: grid;
  grid-template-columns: 50px auto;
  margin-bottom: 16px;
}
main .User-content .discussion .card .post .post-content .user-info .img, main .User-content .inspiration .card .post .post-content .user-info .img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  overflow: hidden;
  margin: auto 0;
}
main .User-content .discussion .card .post .post-content .user-info .img img, main .User-content .inspiration .card .post .post-content .user-info .img img {
  width: 50px;
}
main .User-content .discussion .card .post .post-content .user-info .post-info, main .User-content .inspiration .card .post .post-content .user-info .post-info {
  margin: auto 0 auto 16px;
}
main .User-content .discussion .card .post .post-content .user-info .post-info .post-info-detail, main .User-content .inspiration .card .post .post-content .user-info .post-info .post-info-detail {
  font-size: 14px;
  color: #000;
}
main .User-content .discussion .card .post .post-content .user-info .post-info .post-info-detail span, main .User-content .inspiration .card .post .post-content .user-info .post-info .post-info-detail span {
  margin-right: 8px;
}
main .User-content .discussion .card .post .post-content .user-info .post-info .post-info-detail .name, main .User-content .discussion .card .post .post-content .user-info .post-info .post-info-detail .post_type, main .User-content .inspiration .card .post .post-content .user-info .post-info .post-info-detail .name, main .User-content .inspiration .card .post .post-content .user-info .post-info .post-info-detail .post_type {
  font-weight: 700;
  color: #000;
  opacity: 1;
}
main .User-content .discussion .card .post .post-content .user-info .post-info .time, main .User-content .inspiration .card .post .post-content .user-info .post-info .time {
  font-size: 14px;
  font-weight: 500;
  color: #000;
  opacity: 0.5;
}
main .User-content .discussion .card .post .post-content .user-info .option, main .User-content .inspiration .card .post .post-content .user-info .option {
  cursor: pointer;
}
main .User-content .discussion .card .post .post-content .user-info .option img, main .User-content .inspiration .card .post .post-content .user-info .option img {
  width: 30px;
}
main .User-content .discussion .card .post .post-content .post-content-box, main .User-content .inspiration .card .post .post-content .post-content-box {
  font-size: 15px;
}
main .User-content .discussion .card .post .post-content .post-content-box span, main .User-content .inspiration .card .post .post-content .post-content-box span {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
}
main .User-content .discussion .card .post .post-content .post-content-box .media, main .User-content .inspiration .card .post .post-content .post-content-box .media {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px auto;
  overflow: hidden;
  border-radius: 12px;
  background-color: #000000;
  width: 100%;
  height: 200px;
}
main .User-content .discussion .card .post .post-content .post-content-box .media img, main .User-content .inspiration .card .post .post-content .post-content-box .media img {
  max-width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center top;
     object-position: center top;
}
main .User-content .discussion .card .post .post-content .post-content-box .video, main .User-content .inspiration .card .post .post-content .post-content-box .video {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px auto;
  border-radius: 12px;
  overflow: hidden;
  background-color: #000000;
  width: 100%;
  height: 200px;
}
main .User-content .discussion .card .post .post-content .post-content-box .video video, main .User-content .inspiration .card .post .post-content .post-content-box .video video {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center top;
     object-position: center top;
}
main .User-content .discussion .card .post .post-content .post-content-box .video iframe, main .User-content .inspiration .card .post .post-content .post-content-box .video iframe {
  width: 320px;
  height: 160px;
}
main .User-content .discussion .card .post .post-content .post-content-box .video .masterPlay, main .User-content .inspiration .card .post .post-content .post-content-box .video .masterPlay {
  position: absolute;
  z-index: 10;
  color: #f7f4f4;
  left: 0;
  font-size: 40px;
  text-shadow: 0 0 30px #000000;
  top: 0;
  right: 0;
  bottom: 0;
}
main .User-content .discussion .card .post .post-content .post-content-box .audio, main .User-content .inspiration .card .post .post-content .post-content-box .audio {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px auto;
  overflow: hidden;
  border-radius: 12px;
  background-color: #eee;
  width: 100%;
  height: 200px;
}
main .User-content .discussion .card .post .post-content .post-content-box .audio .masterPlay, main .User-content .inspiration .card .post .post-content .post-content-box .audio .masterPlay {
  position: absolute;
  z-index: 10;
  color: #f7f4f4;
  left: 0;
  font-size: 40px;
  text-shadow: 0 0 30px #000000;
  top: 0;
  right: 0;
  bottom: 0;
}
main .User-content .discussion .card .post .post-content .post-content-box .question-media, main .User-content .inspiration .card .post .post-content .post-content-box .question-media {
  margin-top: 16px;
}
main .User-content .discussion .card .post .post-content .post-content-box .question-media img, main .User-content .inspiration .card .post .post-content .post-content-box .question-media img {
  max-width: 100%;
  border-radius: 12px;
}
main .User-content .discussion .card .post .post-option, main .User-content .inspiration .card .post .post-option {
  padding: 16px;
  display: grid;
  grid-template-columns: auto 80px;
}
main .User-content .discussion .card .post .post-option .follow, main .User-content .inspiration .card .post .post-option .follow {
  text-align: right;
}
main .User-content .discussion .card .post .post-option .follow .solid-action-btn, main .User-content .inspiration .card .post .post-option .follow .solid-action-btn {
  padding: 5px 10px;
  font-size: 12px;
}
main .User-content .discussion .card .post .post-option .follow .solid-action-btn:hover, main .User-content .inspiration .card .post .post-option .follow .solid-action-btn:hover {
  color: #fff;
}
main .User-content .discussion .card .post .inspire, main .User-content .inspiration .card .post .inspire {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
}
main .User-content .discussion .card .post .inspire .like, main .User-content .discussion .card .post .inspire .comment, main .User-content .discussion .card .post .inspire .share, main .User-content .inspiration .card .post .inspire .like, main .User-content .inspiration .card .post .inspire .comment, main .User-content .inspiration .card .post .inspire .share {
  margin: auto;
  cursor: pointer;
}
main .User-content .discussion .card .post .inspire .like .icon, main .User-content .discussion .card .post .inspire .comment .icon, main .User-content .discussion .card .post .inspire .share .icon, main .User-content .inspiration .card .post .inspire .like .icon, main .User-content .inspiration .card .post .inspire .comment .icon, main .User-content .inspiration .card .post .inspire .share .icon {
  margin-right: 10px;
  margin-bottom: 10px;
}
main .User-content .discussion .card .post .inspire .like .icon img, main .User-content .discussion .card .post .inspire .comment .icon img, main .User-content .discussion .card .post .inspire .share .icon img, main .User-content .inspiration .card .post .inspire .like .icon img, main .User-content .inspiration .card .post .inspire .comment .icon img, main .User-content .inspiration .card .post .inspire .share .icon img {
  width: 16px;
}
main .User-content .discussion .card .post .inspire .like .stat, main .User-content .discussion .card .post .inspire .comment .stat, main .User-content .discussion .card .post .inspire .share .stat, main .User-content .inspiration .card .post .inspire .like .stat, main .User-content .inspiration .card .post .inspire .comment .stat, main .User-content .inspiration .card .post .inspire .share .stat {
  font-weight: 600;
  font-size: 14px;
}
main .User-content .discussion .card .post .question-activity, main .User-content .inspiration .card .post .question-activity {
  display: grid;
  grid-template-columns: auto 100px;
}
main .User-content .discussion .card .post .question-activity .stat, main .User-content .inspiration .card .post .question-activity .stat {
  font-size: 16px;
  color: #000;
  opacity: 0.7;
  font-weight: 600;
  margin: auto 0;
  cursor: pointer;
}
main .User-content .discussion .card .post .question-activity .answer, main .User-content .inspiration .card .post .question-activity .answer {
  font-size: 12px;
  font-weight: 700;
  text-align: right;
}
main .User-content .discussion .card .post .comment-section, main .User-content .inspiration .card .post .comment-section {
  display: grid;
  grid-template-columns: 50px auto 85px;
  padding: 16px;
  align-items: center;
  border-top: 1px solid #bbbbbb;
}
main .User-content .discussion .card .post .comment-section .user-image, main .User-content .inspiration .card .post .comment-section .user-image {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  overflow: hidden;
  margin: 0 auto;
}
main .User-content .discussion .card .post .comment-section .user-image img, main .User-content .inspiration .card .post .comment-section .user-image img {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
}
main .User-content .discussion .card .post .comment-section .comment-input, main .User-content .inspiration .card .post .comment-section .comment-input {
  padding: 0 8px;
}
main .User-content .discussion .card .post .comment-section .comment-input input, main .User-content .inspiration .card .post .comment-section .comment-input input {
  width: 100%;
  border-radius: 25px;
  padding: 8px 20px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1882352941);
  border: none;
}
main .User-content .discussion .card .post .comment-section .post-comment, main .User-content .inspiration .card .post .comment-section .post-comment {
  background-color: #FF4E00;
  border-radius: 20px;
}
main .User-content .discussion .card .post .comment-section .post-comment span, main .User-content .inspiration .card .post .comment-section .post-comment span {
  color: white;
  font-weight: 400;
  width: 100%;
  text-align: center;
}
main .User-content .discussion .card .post .user-comments, main .User-content .inspiration .card .post .user-comments {
  display: none;
  padding: 0 30px;
  margin-bottom: 16px;
}
main .User-content .discussion .card .post .user-comments .user-info, main .User-content .inspiration .card .post .user-comments .user-info {
  display: grid;
  grid-template-columns: 50px auto;
  align-items: center;
  margin: auto;
}
main .User-content .discussion .card .post .user-comments .user-info .img, main .User-content .inspiration .card .post .user-comments .user-info .img {
  width: 36px;
  height: 36px;
  border-radius: 50px;
  overflow: hidden;
  margin: auto 0;
  cursor: pointer;
}
main .User-content .discussion .card .post .user-comments .user-info .img img, main .User-content .inspiration .card .post .user-comments .user-info .img img {
  width: 36px;
  height: 36px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
}
main .User-content .discussion .card .post .user-comments .user-info .users-comment-section, main .User-content .inspiration .card .post .user-comments .user-info .users-comment-section {
  background-color: rgba(187, 187, 187, 0.1294117647);
  padding: 12px;
  border-radius: 8px;
}
main .User-content .discussion .card .post .user-comments .user-info .users-comment-section .name, main .User-content .inspiration .card .post .user-comments .user-info .users-comment-section .name {
  font-weight: 700;
  cursor: pointer;
}
main .User-content .discussion .card .post .user-comments .user-info .users-comment-section .comments span, main .User-content .inspiration .card .post .user-comments .user-info .users-comment-section .comments span {
  font-weight: 500;
}
main .User-content .discussion .card .post .user-comments .user-info .users-comment-section .comments .comment-time, main .User-content .inspiration .card .post .user-comments .user-info .users-comment-section .comments .comment-time {
  font-size: 12px;
  margin-left: 5px;
}
main .User-content .discussion .card .post .answer-section, main .User-content .inspiration .card .post .answer-section {
  display: none;
  padding: 16px 16px 0 16px;
  border-top: 1px solid #bbbbbb;
  margin-bottom: 10px;
}
main .User-content .discussion .card .post .answer-section .user-info, main .User-content .inspiration .card .post .answer-section .user-info {
  display: grid;
  grid-template-columns: 60px auto;
  align-items: center;
}
main .User-content .discussion .card .post .answer-section .user-info .user-img, main .User-content .inspiration .card .post .answer-section .user-info .user-img {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  overflow: hidden;
  margin: 0 auto;
}
main .User-content .discussion .card .post .answer-section .user-info .user-img img, main .User-content .inspiration .card .post .answer-section .user-info .user-img img {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
}
main .User-content .discussion .card .post .answer-section .user-info span, main .User-content .inspiration .card .post .answer-section .user-info span {
  font-weight: bold;
}
main .User-content .discussion .card .post .answer-section .answer-area, main .User-content .inspiration .card .post .answer-section .answer-area {
  margin: 16px 8px;
}
main .User-content .discussion .card .post .answer-section .answer-area textarea, main .User-content .inspiration .card .post .answer-section .answer-area textarea {
  border: none;
  width: 100%;
  padding: 8px 16px;
  font-size: 15px;
  background-color: #f5f5f5;
}
main .User-content .discussion .card .post .answer-section .answer-area textarea::-webkit-scrollbar, main .User-content .inspiration .card .post .answer-section .answer-area textarea::-webkit-scrollbar {
  width: 3.5px;
}
main .User-content .discussion .card .post .answer-section .answer-area textarea::-webkit-scrollbar-thumb, main .User-content .inspiration .card .post .answer-section .answer-area textarea::-webkit-scrollbar-thumb {
  background: #a09e9e;
  border-radius: 5px;
}
main .User-content .discussion .card .post .answer-section .answer-area textarea:focus-visible, main .User-content .inspiration .card .post .answer-section .answer-area textarea:focus-visible {
  outline: none;
}
main .User-content .discussion .card .post .answer-section .answer-post, main .User-content .inspiration .card .post .answer-section .answer-post {
  text-align: right;
}
main .User-content .discussion .card .post .answer-section .answer-post button, main .User-content .inspiration .card .post .answer-section .answer-post button {
  background-color: #FF4E00;
  border-radius: 20px;
  color: #fff;
  padding: 8px 25px;
  margin-right: 16px;
}
main .User-content .discussion .card .post .users-answers-area, main .User-content .inspiration .card .post .users-answers-area {
  display: none;
  overflow-y: scroll;
  height: 400px;
}
main .User-content .discussion .card .post .users-answers-area::-webkit-scrollbar, main .User-content .inspiration .card .post .users-answers-area::-webkit-scrollbar {
  width: 3px;
}
main .User-content .discussion .card .post .users-answers-area::-webkit-scrollbar-thumb, main .User-content .inspiration .card .post .users-answers-area::-webkit-scrollbar-thumb {
  background: #a09e9e;
  border-radius: 5px;
}
main .User-content .discussion .card .post .users-answers-area .heading, main .User-content .inspiration .card .post .users-answers-area .heading {
  font-size: 16px;
  padding: 8px 16px;
  font-weight: bold;
  color: rgba(171, 171, 171, 0.9764705882);
  border-bottom: 1px solid #BBBBBB;
}
main .User-content .discussion .card .post .users-answers-area .users-answers .users-answers-content, main .User-content .inspiration .card .post .users-answers-area .users-answers .users-answers-content {
  padding: 0 20px;
  margin-top: 20px;
}
main .User-content .discussion .card .post .users-answers-area .users-answers .users-answers-content .user-info, main .User-content .inspiration .card .post .users-answers-area .users-answers .users-answers-content .user-info {
  display: grid;
  grid-template-columns: 50px auto;
  align-items: center;
  margin: auto;
  cursor: pointer;
}
main .User-content .discussion .card .post .users-answers-area .users-answers .users-answers-content .user-info .img, main .User-content .inspiration .card .post .users-answers-area .users-answers .users-answers-content .user-info .img {
  width: 36px;
  height: 36px;
  border-radius: 50px;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  margin: auto 0;
}
main .User-content .discussion .card .post .users-answers-area .users-answers .users-answers-content .user-info .img img, main .User-content .inspiration .card .post .users-answers-area .users-answers .users-answers-content .user-info .img img {
  width: 36px;
  height: 36px;
  -o-object-position: top center;
     object-position: top center;
}
main .User-content .discussion .card .post .users-answers-area .users-answers .users-answers-content .user-info .name, main .User-content .inspiration .card .post .users-answers-area .users-answers .users-answers-content .user-info .name {
  font-weight: 700;
}
main .User-content .discussion .card .post .users-answers-area .users-answers .users-answers-content .users-answers p, main .User-content .inspiration .card .post .users-answers-area .users-answers .users-answers-content .users-answers p {
  font-size: 14px;
  font-weight: 500;
  text-align: justify;
  padding: 5px 0 0 5px;
}/*# sourceMappingURL=main.css.map */